.profile-container{
    margin: auto;
    margin-top: 4.5rem;
    width: 38%;
    background: white;
    height: 58vh;
    color: white;
}

.img-container{
    height:150px;
    width: 100%;
    background:var(--font-color-4);
}

.profile-container img{
    width: 150px;
    height: 150px;
    margin: 5rem 2rem;
    border: 4px solid white;
    border-radius: 50%;
}

.profile-container__content{
    height: 100%;
    padding-left: 2rem ;
    padding-top: 8rem;
    background: #101820FF;
}

.profile-container__content input{
    margin-left: 1rem;
    margin-bottom: 1rem ;
    padding-left: 0.5rem;
    border-radius: 10px;
}

input[type="text"][disabled]{background-color:white;}

.profile-container button{
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    margin-right: 4rem;
    color: var(--font-color-1);
    background: var(--font-color-4);
}

.profile-container button:focus{
  outline: none;
}

.profile-container button:hover{
    background: var(--secondary-color);
}
