.work-container{
    color: rgb(73, 70, 70);
}

.work-container h1,h2{
    color: var(--font-color-4);
}
.main{
    padding: 1rem;
    margin-top: 2.5rem;
    font-size: larger;
    background:var(--primary-color);
 }
 
 .work-img{
     text-align: center;
 }

 .img-1{
    height: 500px;
    width: 70%;
 }

 @media(max-width: 600px) and (min-width:340px) {
    .main{
        width: 100%;
    }
    }
    
    @media(max-width: 768px) and (min-width:600px) {
        .main{
            width: 100%;
        }
    }