.main-posts {
    margin-top: 2.6rem;
    background: var(--primary-color);
    padding-bottom: 1rem;
}

body{
    background-color: var(--primary-color);
}

.posts-container {
    width: 68%;
    margin-left: 25%;
    line-height: 18px;
}

.posts-container img {
    height: 230px;
    width: 93%;
    margin:3rem 0;
    margin-left: 0.5rem;
    box-shadow: 3px 5px 10px var(--shadow-4);
    border-radius: 10px;
}

.posts-container .carousel {
    border-radius: 20px;
    padding-top: 0.7rem;
}

.posts-container .carousel-control-prev{
    top: 25px;
}

.posts-container .carousel-control-next{
    top: 25px;
    right: 3%;
}


.posts-container .col-md-6{
    padding-left: 0;
    padding-right: 0;
    align-self: center;
    margin-right: 3rem;
}

.hostel-name{
    font-size: 28px;
    font-weight: 700;
}

.room-details{
    font-size: 20px;
    font-weight:700;
}

.address,.area{
    font-size:16px;
    font-weight:600;
}

.rent{
    color: red;
    font-size: 26px;
    font-weight:bolder;
    display: inline-block;
    padding-left: 0;
}

.viewBtn{
    padding: 0.8rem 0.8rem;
    border-radius: 10px;
    cursor: pointer;
    color: var(--font-color-1);
    background: var(--font-color-4);
    box-shadow:  3px 3px 5px  var(--shadow-3);
}

.viewBtn:hover{
    box-shadow:  -3px -3px 5px  var(--shadow-3);
    text-decoration: none;
    color: var(--font-color-1);
}

.separate{
    border-bottom:2px solid var(--font-color);
    margin-left: 25%;
}

.posts-container .carousel-item{
    margin-top: 0;
    margin-bottom: 0;
    left:-60px;
    margin-left: 13%;
}

@media(max-width:1040px) and (min-width:800px){
    .posts-container img{
        height: 430px;
    }
}


@media(max-width:600px) and (min-width:300px){
   .posts-container{
       margin-left: 0;       
       width: 100%;
   }

   .posts-container img{
    height: 300px;
    width: 95%;
    margin-left: 4%;
    }

    .viewBtn{
        margin-top: 1rem;
    }

    .separate{
        margin-left: 0;
    }
    
}


